{% extends "./base_ms.html" %}
{% load static %}
{% block ms_jsapi %}
<!-- remove current api js -->
{% endblock %}
{% block plugins %}
<!-- remove current plugins -->
{% endblock %}
{% block style %}
<style>
    body {
        padding-top: 0px !important;
    }
    #ms-container {
        position: absolute;
        top: 72px !important;
        bottom: 0px;
        width: 100%;
        z-index: 1029;
        background-color: white;
    }
    .app-router {
        position: relative;
        width: 100%;
        height: 100%;
    }
</style>
{% endblock %}
{% block gn_user_info %}
{% endblock %}
{% block app_config %}
{% autoescape off %}
{% if appType == "GeoStory" or request.GET.appType == "GeoStory" %}
    {% include "./app/geostory.html" %}
{% endif %}
{% endautoescape %}
{% endblock %}
{% block map_content %}
<div id="ms-container" class="ms2">
    <div class="_ms2_init_spinner _ms2_init_center">
        <div></div>
    </div>
    <div class="_ms2_init_text _ms2_init_center">Loading MapStore</div>
</div>
{% endblock %}
