{% load geonode_mapstore_client_tags %}

{% client_viewer_js	%}
<style>
#embedded_map {
    position: relative;
    height: 400px;
    z-index: 1029;
    overflow: hidden;
}
#mapstore2-embedded {

}
</style>

{% autoescape off %}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
    $('#embedded_map').addClass('ms2');
    MapStore2.create('embedded_map', {
        config: {{ ms2_config }},
        initialState: {
                defaultState: {
                    security: {
                        token: "{{ ACCESS_TOKEN }}"
                    }
                }
        },
        proxy: "{{ SITEURL }}proxy?url=",
        printingEnabled: true,
        localConfig: {
            loadAfterTheme: true,
            printUrl: "{{ SITEURL }}gs/pdf/info.json",
            translations: '', 
            useAuthenticationRules: true,
            authenticationRules: [{
                "urlPattern": ".*geostore.*",
                "method": "bearer"
            }, {
                "urlPattern": ".*geoserver.*",
                "authkeyParamName": "access_token",
                "method": "authkey"
            }]
          }
      });
});
</script>
{% endautoescape %}
