{% load geonode_mapstore_client_tags %}

{% client_viewer_js	%}
<style>
#embedded_map {
    position: relative;
    height: 400px;
    z-index: 1031;
    overflow: hidden;
}
#mapstore2-embedded, #map, .fill {
    width: 100%;
    height: 100%;
}
</style>

{% autoescape off %}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
    $('#embedded_map').addClass('ms2');
    MapStore2.create('embedded_map', {
        config: {{ ms2_config }},
        theme: {theme: "preview"},
        initialState: {
            defaultState: {
                mode: "embedded",
                mousePosition: {enabled: false},
                controls: {
                    print: {
                        enabled: false
                    },
                    toolbar: {
                        active: null,
                        expanded: false
                    },
                    drawer: {
                        enabled: false,
                        menu: "1"
                    }
                },
                mapInfo: {enabled: true, infoFormat: "text/html" },
                security: {
                    token: "{{ ACCESS_TOKEN }}"
                }
            }
        },
        proxy: "{{ SITEURL }}proxy/?url=",
        printingEnabled: true,
        localConfig: {
            translations: '',
            loadAfterTheme: true,
            printUrl: "{{ SITEURL }}gs/pdf/info.json",
            useAuthenticationRules: true,
            authenticationRules: [{
                "urlPattern": ".*geostore.*",
                "method": "bearer"
            }, {
                "urlPattern": ".*geoserver.*",
                "authkeyParamName": "access_token",
                "method": "authkey"
            }]
         },
         plugins: MS2_PLUGINS
      });
});
</script>
{% endautoescape %}
