{% load static %}
{% load client_version %}
<style>
    .gn-main-loader-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        flex-direction: column;
    }
    .gn-main-loader-content {
        position: relative;
        font-size: inherit;
    }
    .gn-main-loader {
        border-radius: 50%;
        width: 12em;
        height: 12em;
        box-sizing: border-box;
        border: 1em solid rgba(119,119,119, 0.2);
        border-left: 1em solid #777777;
        -webkit-animation: gn-main-loader-animation 1.1s infinite linear;
        animation: gn-main-loader-animation 1.1s infinite linear;
    }
    .gn-main-loader-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }
    @-webkit-keyframes gn-main-loader-animation {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes gn-main-loader-animation {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
</style>
<style>
    html {
        overflow: hidden;
    }
    body {
        padding-top: 0px !important;
    }
    #ms-container {
        position: absolute;
        top: 72px;
        bottom: 0px;
        width: 100%;
        z-index: 1029;
        background-color: white;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
</style>
{% block map_content %}
{% include './_geonode_config.html' with plugins_config_key=plugins_config_key|default:'map_edit' is_new_resource=is_new|default:'false' %}
<div id="ms-container" class="ms2">
    <div class="gn-main-loader-container">
        <div class="gn-main-loader-content">
            <div class="gn-main-loader"></div>
            <div class="gn-main-loader-text"></div>
        </div>
    </div>
</div>
<script id="gn-script" src="{% static 'mapstore/dist/js/gn-map.js' %}?{% client_version %}"></script>
{% endblock %}
