# build artifacts
*.pyc
*.bak
*.swp
*.egg-info
*.tmp
pip-log.txt

.idea/
.vscode/
.pytest_cache/
#dist/
build/
_build/
reports/
coverage/
node_modules/

build
target
MANIFEST
# dist

django_geonode_mapstore_client.egg-info/
# geonode_mapstore_client/static/geonode_mapstore_client
geonode_mapstore_client/client/package-lock.json
#dist/

/dist/
