

$gn-loader-placeholder-bg: 251, 251, 251;
.gn-loader-placeholder {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .fa {
        font-size: 6rem;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: -45%;
        height: 100%;
        width: 45%;
        mix-blend-mode: overlay;
        @include gradient-x-three-colors(
            rgba(251,251,251, 0),
            rgba(251,251,251, .3),
            50%,
            rgba(251,251,251, .0)
        );
        animation: background-loading 1.25s infinite;
        @keyframes background-loading {
            0%{
                left: -45%;
            }
            100%{
                left: 100%;
            }
        }
    }
}

