{% load i18n %}
{% if menu_item %}
    {% if menu_item.type == 'link' %}
        <li>
            <a
                href="{{ menu_item.href }}"
                target="{{ menu_item.target }}"
            >
                {% trans menu_item.label %}
            </a>
        </li>
    {% endif %}
    {% if menu_item.type == 'dropdown' %}
        <li class="dropdown-header"><strong>{% trans menu_item.label %}</strong></li>
        {% for child_item in menu_item.items %}
            {% if child_item.type == 'link' %}
                <li>
                    <a
                        href="{{ child_item.href }}"
                        target="{{ child_item.target }}"
                    >
                        {% trans child_item.label %}
                        {% if menu_item.badge %}
                            <span class="badge">{{ menu_item.badge }}</span>
                        {% endif %}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        {% if not forloop.last %}
            <li role="separator" class="divider"></li>
        {% endif %}
    {% endif %}
{% endif %}
