{% load static %}
{% load client_lib_tags %}
{% load client_version %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if TWITTER_CARD %}
            {% include "base/_resourcebase_twittercard.html" %}
        {% endif %}
        {% if OPENGRAPH_ENABLED %}
            {% include "base/_resourcebase_opengraph.html" %}
        {% endif %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
        <link href="{% static 'mapstore/dist/themes/geonode.css' %}?{% client_version %}" rel="stylesheet" />
        <title>{{ SITE_NAME }}</title>
        <link rel="shortcut icon" href="{% static 'geonode/img/favicon.ico' %}" />
        {% include 'geonode-mapstore-client/snippets/loader_style.html' %}

        {% block custom_theme %}
            {% include 'geonode-mapstore-client/snippets/custom_theme.html' %}
        {% endblock %}

        {% block extra_style %}
        {% endblock %}

    </head>
    <body class="msgapi ms2" data-ms2-container="ms2" >
        {% block gn_config %}
            {% include 'geonode-mapstore-client/_geonode_config.html' with plugins_config_key='document_embed' is_embed='true' %}
        {% endblock %}
        <div class="gn-embed gn-theme gn-theme-{{ custom_theme.variant }}">
            {% block container %}
                <style>
                    .msgapi .gn-media-viewer {
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        margin:0;
                    }
                </style>
                <div id="ms-container">
                    <div class="gn-main-event-container">
                        <div class="gn-main-event-content">
                            <div class="gn-main-loader"></div>
                            <div class="gn-main-event-text"></div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block ms_scripts %}
                <script id="gn-script" src="{% static 'mapstore/dist/js/gn-document.js' %}?{% client_version %}"></script>
            {% endblock %}
        </div>
    </body>
</html>
