#map{
    bottom: 0px !important;
}

.mapToolbar{
    margin-bottom: 30px !important;
    margin-right: 0px !important;
}

.mapstore-map-footer{
    background-color: transparent;
    box-shadow: none;
}
.modal-dialog.modal-content.modal-dialog-container.react-draggable{
    position: fixed;
    z-index: 100000 !important;
}

.btn-group-vertical > .btn:first-child:not(:last-child){
    border-top-left-radius: 0px;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-right-radius: 0px;
}

#navigationBar {
    .glyphicon{
        font-size: 15px;
    }
    .square-button{
        width: auto;
        height: auto;
    }
}
div#mapstore-globalspinner{
    width: 41px !important;
    height: 41px !important;
}
.ms2-loading .sk-circle-wrapper.spinner{
    width: 20px;
    height: 20px;
}
.fill:-webkit-full-screen{
    #navigationBar {
        .glyphicon{
            font-size: 26px;
        }
        .square-button{
            width: 52px;
            height: 52px;
        }
    }
   div#mapstore-globalspinner{
        width: 52px !important;
        height: 52px !important;
    }
    .ms2-loading .sk-circle-wrapper.spinner{
        width: 30px;
        height: 30px;
    }
}
.fill:-moz-full-screen{
    #navigationBar {
        .glyphicon{
            font-size: 26px;
        }
        .square-button{
            width: 52px;
            height: 52px;
        }
    }
   div#mapstore-globalspinner{
        width: 52px !important;
        height: 52px !important;
    }
    .ms2-loading .sk-circle-wrapper.spinner{
        width: 30px;
        height: 30px;
    }
}

