.btn-group-vertical > .btn:first-child:not(:last-child){
    border-top-left-radius: 0px;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-right-radius: 0px;
}
.modal-dialog.modal-content.modal-dialog-container.react-draggable{
    position: fixed;
    z-index: 100000 !important;
}
.gfi-t {
    float: left; 
    padding: 1px
}
.fill:not(:-webkit-full-screen){
    #mapstore-metadata-explorer{
        padding-top: @geo-header-height;
        .panel-body {
            height: calc(100% -103px);
        }
    }
    .notifications-tc {
        top: 63px !important;
    }
}
.catalog-panel > .panel-body form{
     .form-group:first-child,
     .form-group:first-child + .form-group {
         display: none
     }
}
.widgets-builder-header {
    padding-top: @geo-header-height;
}
.notifications-tc {
    top: 0px !important;
}